{# The homepage for the website #}
{# website.hp #}

{#{% include 'website/common/header.twig' %}#}
{#{% include 'website/common/forgot-password.twig' %}#}
{#{% include 'website/common/signup-form.twig' %}#}
{#{% include 'website/common/login-form.twig' %}#}
{#{% include 'website/common/quick-sidebar.twig' %}#}

{#<div class="c-layout-page">#}
    {#{% include 'website/pages/homepage/hero.twig' %}#}
    {#{% include 'website/pages/homepage/why-choose-us.twig' %}#}
    {#{% include 'website/pages/homepage/recent-works.twig' %}#}
    {#{% include 'website/pages/homepage/services.twig' %}#}
    {#{% include 'website/pages/homepage/features.twig' %}#}
    {#{% include 'website/pages/homepage/testimonials.twig' %}#}
    {#{% include 'website/pages/homepage/latest-items.twig' %}#}
    {#{% include 'website/pages/homepage/team.twig' %}#}
    {#{% include 'website/pages/homepage/recent-posts.twig' %}#}
    {#{% include 'website/pages/homepage/about-us.twig' %}#}
{#</div>#}

{#{% include 'website/common/scripts.twig' %}#}

{#<script src="/js/slider-8.js" type="text/javascript"></script>#}
{#<script src="/plugins/isotope/isotope.pkgd.min.js" type="text/javascript"></script>#}
{#<script src="/plugins/isotope/imagesloaded.pkgd.min.js" type="text/javascript"></script>#}
{#<script src="/plugins/isotope/packery-mode.pkgd.min.js" type="text/javascript"></script>#}
{#<script src="/js/isotope-grid.js" type="text/javascript"></script>#}

{#{% include 'website/common/footer.twig' %}#}