<!-- BEGIN: CONTENT/MISC/ABOUT-3 -->
<div class="c-content-box c-size-md c-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow animate fadeInLeft">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-font-bold">About us</h3>
                    <div class="c-line-left c-theme-bg"></div>
                </div>
                <!-- End-->
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore magna aluam erat volutpat. Ut wisi enim ad minim veniam quis nostrud exerci et tation diam nisl ut aliquip
                    ex ea commodo consequat euismod tincidunt ut laoreet dolore magna aluam. </p>
                <ul class="c-content-list-1 c-theme  c-font-uppercase">
                    <li>Perfect Design interface</li>
                    <li>Huge Community</li>
                    <li>Support for Everyone</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed elit diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
            </div>
            <div class="col-sm-6 wow animate fadeInRight">
                <div class="c-content-tab-4 c-opt-3" role="tabpanel">
                    <ul class="nav nav-justified" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab-31" role="tab" data-toggle="tab" class="c-font-16">POPULAR</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab-32" role="tab" data-toggle="tab" class="c-font-16">COMMENTS</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab-33" role="tab" data-toggle="tab" class="c-font-16">RECENT</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="tab-31">
                            <ul class="c-tab-items">
                                <li class="row">
                                    <div class="col-sm-4 col-xs-5">
                                        <div class="c-photo">
                                            <img class="img-responsive" width="150" height="100" src="assets/base/img/content/stock/6.jpg" alt="" /> </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-7">
                                        <h4 class="c-font-20">Lorem Ipsum</h4>
                                        <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet
                                            dolore.</p>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-sm-4 col-xs-5">
                                        <div class="c-photo">
                                            <img class="img-responsive" width="150" height="100" src="assets/base/img/content/stock/5.jpg" alt="" /> </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-7">
                                        <h4 class="c-font-20">Dolore Sit Amet</h4>
                                        <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet
                                            dolore.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab-32">
                            <ul class="c-tab-items">
                                <li class="row">
                                    <div class="col-sm-4 col-xs-5">
                                        <div class="c-photo">
                                            <img class="img-responsive" width="150" height="100" src="assets/base/img/content/stock/013.jpg" alt="" /> </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-7">
                                        <h4 class="c-font-20">Lorem Ipsum</h4>
                                        <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet
                                            dolore.</p>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-sm-4 col-xs-5">
                                        <div class="c-photo">
                                            <img class="img-responsive" width="150" height="100" src="assets/base/img/content/stock/18.jpg" alt="" /> </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-7">
                                        <h4 class="c-font-20">Dolore Sit Amet</h4>
                                        <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet
                                            dolore.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab-33">
                            <ul class="c-tab-items">
                                <li class="row">
                                    <div class="col-sm-4 col-xs-5">
                                        <div class="c-photo">
                                            <img class="img-responsive" width="150" height="100" src="assets/base/img/content/stock/76.jpg" alt="" /> </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-7">
                                        <h4 class="c-font-20">Lorem Ipsum</h4>
                                        <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet
                                            dolore.</p>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-sm-4 col-xs-5">
                                        <div class="c-photo">
                                            <img class="img-responsive" width="150" height="100" src="assets/base/img/content/stock/75.jpg" alt="" /> </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-7">
                                        <h4 class="c-font-20">Dolore Sit Amet</h4>
                                        <p class="c-font-16">Lorem ipsum dolor sit amet et consectetuer elit sed nonummy nib esuismod tincid unt laoreet dolore sit amet conectetuer ed dolore sit amet esmod conctetuer adipiscing lorem ipsum eit noummy tinid laoreet
                                            dolore.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/MISC/ABOUT-3 -->