<!-- BEGIN: CONTENT/MISC/LATEST-ITEMS-1 -->
<div class="c-content-box c-size-md c-bg-grey-1">
    <div class="container">
        <div class="row" data-auto-height="true">
            <div class="col-md-4 c-margin-b-30 wow animate fadeInDown">
                <div class="imagecontour effect2">
                    <img class="img-responsive" src="assets/base/img/content/stock3/18.jpg" alt="service" /> </div>
                <!--
    <div class="c-content-media-1" data-height="height">
        <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">Blog</div>
        <a href="#" class="c-title c-font-uppercase c-font-bold c-theme-on-hover">Take the web by storm with COLONIAL</a>
        <p>Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat</p>
        <div class="c-author">
            <div class="c-portrait" style="background-image: url(assets/base/img/content/team/team1.jpg)"></div>
            <div class="c-name c-font-uppercase">Jack Nilson</div>
        </div>
    </div> --></div>
            <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.2s">
                <div class="c-content-media-1" data-height="height">
                    <div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">News</div>
                    <a href="#" class="c-title c-font-uppercase c-font-bold c-theme-on-hover">The Multi-purpose HTML5 Theme</a>
                    <p>Lorem ipsum dolor sit amet, coectetuer diam nonummy adipiscing elit sit amet, sit amet, coectetuer adipiscing elit adipiscing consectetuer </p>
                    <div class="c-date"> 27 Jan 2015 </div>
                </div>
            </div>
            <div class="col-md-4 c-margin-b-30 wow animate fadeInDown" data-wow-delay="0.4s">
                <div class="c-content-media-1 c-content-v-center c-theme-bg" data-height="height">
                    <div class="c-wrapper">
                        <div class="c-body c-center">
                            <h3 class="c-font-25 c-line-height-34 c-font-white c-font-uppercase c-font-bold"> Nothing is impossible for COLONIAL. Highly Flexible, always growing</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 wow animate fadeInLeft">
                <div class="c-content-media-2-slider" data-slider="owl">
                    <div class="c-content-label c-font-uppercase c-font-bold">Latest Uploads</div>
                    <div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-auto-play="4000" data-rtl="false">
                        <div class="item">
                            <div class="c-content-media-2 c-bg-img-center" style="background-image: url(assets/base/img/content/stock3/18.jpg); min-height: 360px;">
                                <div class="c-panel">
                                    <div class="c-fav">
                                        <i class="icon-heart c-font-thin"></i>
                                        <p class="c-font-thin">16</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-media-2 c-bg-img-center" style="background-image: url(assets/base/img/content/stock3/22.jpg); min-height: 360px;">
                                <div class="c-panel">
                                    <div class="c-fav">
                                        <i class="icon-heart c-font-thin"></i>
                                        <p class="c-font-thin">24</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-media-2 c-bg-img-center" style="background-image: url(assets/base/img/content/stock3/32.jpg); min-height: 360px;">
                                <div class="c-panel">
                                    <div class="c-fav">
                                        <i class="icon-heart c-font-thin"></i>
                                        <p class="c-font-thin">19</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow animate fadeInRight">
                <div class="c-content-testimonial-2-slider" data-slider="owl">
                    <div class="c-title c-font-uppercase c-theme-bg">Testimonials</div>
                    <div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-auto-play="6000" data-rtl="false">
                        <div class="item">
                            <div class="c-content-testimonial-2" style="min-height: 360px;">
                                <div class="c-testimonial c-font-bold c-font-uppercase">COLONIAL the best HTML theme I've purchased in months!</div>
                                <div class="c-author">
                                    <div class="c-portrait" style="background-image: url(assets/base/img/content/team/team13.jpg)"></div>
                                    <div class="c-name c-font-uppercase">Jim Cook</div>
                                    <p class="c-position c-theme c-font-uppercase">Orange Inc.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="c-content-testimonial-2" style="min-height: 360px;">
                                <div class="c-testimonial c-font-bold c-font-uppercase">Quick and extremely easy to use with awesome customer support</div>
                                <div class="c-author">
                                    <div class="c-portrait" style="background-image: url(assets/base/img/content/team/team6.jpg)"></div>
                                    <div class="c-name c-font-uppercase">Jane Smith</div>
                                    <p class="c-position c-theme c-font-uppercase">Loop Inc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/MISC/LATEST-ITEMS-1 -->