<!-- BEGIN: CONTENT/MISC/WHY-CHOOSE-US-1 -->
<div class="c-content-box c-size-lg c-bg-grey-1">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-7">
                    <div class="c-content-feature-5">
                        <div class="c-content-title-1 wow amimate fadeInDown">
                            <h3 class="c-left c-font-dark c-font-uppercase c-font-bold">Why
                                <br/>COLONIAL ?</h3>
                            <div class="c-line-left c-bg-blue-3 c-theme-bg"></div>
                        </div>
                        <div class="c-text wow animate fadeInLeft"> COLONIAL is the ultimate tool to power any of your projects. Corporate, ecommerce, SAAS, CRM and much more. </div>
                        <button type="submit" class="btn c-btn-uppercase btn-md c-btn-bold c-btn-square c-theme-btn wow animate fadeIn">Explore</button>
                        <img class="c-photo img-responsive wow animate fadeInUp" width="420" alt="" src="assets/base/img/content/misc/COLONIAL-intro-2.jpg" /> </div>
                </div>
                <div class="col-md-5">
                    <div class="c-content-accordion-1 c-theme wow animate fadeInRight">
                        <div class="panel-group" id="accordion" role="tablist">
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a class="c-font-bold c-font-uppercase c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Exceptional Frontend Framework </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body c-font-18"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Modern Design Trends </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body c-font-18"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed c-font-uppercase c-font-bold c-font-19" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Beatifully Crafted Code </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body c-font-18"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT/MISC/WHY-CHOOSE-US-1 -->